<div id="<%= dom_id servicio %>">
  <p>
    <strong>Nombre:</strong>
    <%= servicio.nombre %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= servicio.precio %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= servicio.doctor_id %>
  </p>

</div>
