<h1>Editing especialidad</h1>

<%= render "form", especialidad: @especialidad %>

<br>

<div>
  <%= link_to "Show this especialidad", @especialidad %> |
  <%= link_to "Back to especialidads", especialidads_path %>
</div>
