<p style="color: green"><%= notice %></p>

<h1>Especialidads</h1>

<div id="especialidads">
  <% @especialidads.each do |especialidad| %>
    <%= render especialidad %>
    <p>
      <%= link_to "Show this especialidad", especialidad %>
    </p>
  <% end %>
</div>

<%= link_to "New especialidad", new_especialidad_path %>
