<p style="color: green"><%= notice %></p>

<h1>Especialidads</h1>

<div id="especialidads">
  <% @especialidads.each do |especialidad| %>
    <% if(especialidad.doctor_id == current_doctor.id )%>
      <%= render especialidad %>
      <p>
        <%= link_to "Show", especialidad %>
      </p>
    <% end %>
      
  <% end %>
</div>

<%= link_to "Añadir especialidad", new_especialidad_path, class:"btnAnadir btn btn-primary" %>

